/assets/maps/onadbyr/pins/pin_bridges.webp
/assets/maps/onadbyr/pins/pin_cemeteries.webp
/assets/maps/onadbyr/pins/pin_crafters_and_services.webp
/assets/maps/onadbyr/pins/pin_historical_location.webp
/assets/maps/onadbyr/pins/pin_hospitality.webp
/assets/maps/onadbyr/pins/pin_illegal_activities.webp
/assets/maps/onadbyr/pins/pin_markets.webp
/assets/maps/onadbyr/pins/pin_mystical_locations.webp
/assets/maps/onadbyr/pins/pin_nobles_villas.webp
/assets/maps/onadbyr/pins/pin_parks_plazas.webp
/assets/maps/onadbyr/pins/pin_places_of_authority.webp
/assets/maps/onadbyr/pins/pin_places_of_worship.webp
/assets/maps/onadbyr/pins/pin_shools.webp
/assets/maps/onadbyr/pins/pins_shops.webp
/packs/